html{
  display: flex;
  justify-content: center;
}
.app {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #262A3C;
  color: white;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 20px;
  border-radius: 8px;
}

h1 {
  color: white;
}

p {
  font-size: 18px;
  margin-top: 10px;
}

.tagline {
  font-style: italic;
  font-size: 1.5rem;
  color: #FE9B70;
  margin-top: 20px;
}

.features {
  margin: 40px 0;
}

.alert-box {
  background-color: rgb(66 71 95);
  border-left: 4px solid #FE9B70;
  padding: 1rem;
  margin: 20px 0;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
}

.alert-box strong {
  color: #FE9B70;
  font-size: 1.1rem;
}

.mockups {
  background-color: #E4F2F7;
  padding: 3rem;
  border-radius: 1rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 30%;
  margin: 10px;
  border-radius: 8px;
}

footer {
  margin-top: 40px;
}

.contact-button {
  background-color: #3DB589;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

.contact-button:disabled{
  background-color: #51ab8aa7;
}

.contact-button:hover {
  background-color: #08e494;
}
